.button{
  padding: 12px 24px;
  position:absolute;
  display:inline-block;
  top:75%;
  left:250px;

}
.button2{
  padding: 12px 24px;
  position:absolute;
  display:inline-block;
  top:75%;
  left:400px;

}
.button3{
  padding: 12px 24px;
  position:absolute;
  display:inline-block;
  top:75%;
  left:550px;

}
.button4{
  padding: 12px 24px;
  position:absolute;
  display:inline-block;
  top:75%;
  left:700px;

}


.photo{
  position: center;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
