<div class="ui sidebar vertical left menu overlay visible" style="-webkit-transition-duration: 0.1s; overflow: visible !important;">
  <div class="item logo">
    <div class="title">
      <h1><a routerLink="">Pick your Meme</a></h1>
    </div>
  </div>
  <div class="ui accordion">
    <a class="title item" routerLink="donald">Donald</a>
  </div>
  <div class="ui accordion">
    <a class="title item" routerLink="croc">Croc</a>
  </div>
  <div class="ui accordion">
    <a class="title item" routerLink="kek">Kek</a>
  </div>
</div>
