<div class="ui grid">
  <div class="ui sidebar vertical left menu inverted overlay labeled icon visible" id="menu">
    <div class="item logo">
      <a class="item">
      <img id="img" src="../assets/Images/863e59e4f543a38773a50f1bb8f2fbb3.png" height="80" width="100"/>
      </a>
    </div>
    <a class="item">
      <i class="book icon"></i>
      Contact Me!
    </a>
    <a class="item" href="http://mytravelinghammock.com/">
      <i class="wordpress icon"></i>
      My Website
    </a>
    <a class="item" href="https://www.instagram.com/mytravelinghammock/">
      <i class="instagram icon"></i>
      My Instagram
    </a>
  </div>
</div>
<div class="break"></div>

<router-outlet></router-outlet>
