
<div class="ui center aligned grid">
  <img class="title" src="../assets/Images/TRAVELING-HAMMOCK-copy-2-1-e1456901770308.png" height="279" width="700"/>
  <div class="sun"></div>
</div>
<div class="break1"></div>
<div class="ui center aligned grid">
  <div class="ui inverted blue animated button" tabindex="0" id="but"   (click)="toggleMenu()">
    <div class="visible content">More About Me!</div>
    <div class="hidden content">
      <i class="heart icon"></i>
    </div>
  </div>
</div>
<div class="break2"></div>
<div class="ui center aligned grid">
  <div class="three column row">
    <div class="column">
      <div class="three column row">
        <div class="column">
          <img class="image" id="img1" src="../assets/Images/MG_0196.png" height="200" width="360"onClick="$('#modal1').modal('show');"/>
        </div>
        <div class="break3"></div>
        <div class="column">
          <img class="image" src="../assets/Images/costa.png" height="200" width="360" onClick="$('#modal2').modal('show');"/>
        </div>
        <div class="break3"></div>
        <div class="column">
          <img class="image" src="../assets/Images/MG_1749.png" height="200" width="360" onClick="$('#modal3').modal('show');"/>
        </div>
      </div>
    </div>
    <div class="column"><div class="ui raised very padded text container segment">
      <h2 class="ui inverted blue header">Meet Shannon</h2>
      <p>
        Hi there! My name is Shannon, a major victim to the travel bug. I began traveling on my own my freshman year of
        college when studying abroad in Rome over a summer. Craving a longer stay abroad, I went to Madrid for a
        semester and had the time of my life traveling all around Europe, and even stopping in Morrocco. With college
        being over, I no longer had study abroad programs to take me overseas. So I had to get creative.
      </p>
      <p>
        Luckily, there are several travel blogs with articles on how to make traveling possible. Wanting a completely
        different experience from the city life of Europe, I decided to try out Wwoofing in Bali, Indonesia. Wwoofing
        is a great way to pursue an out of this world experience by organic farming in return for room and board. I
        loved it. But I had a problem. I couldn’t just do that forever. How could I travel while supporting myself?
        Like many others, I had the dream of travel writing as a career. But I couldn’t do that without traveling first,
        and my travel bug had me craving to leave before I could save enough money to support me long enough to get a
        following. What I started to notice while desperately searching for an answer was the repeated mention of TEFL
        (Teaching English as a Foreign Language). Teaching English abroad sounded like a good long-term plan. I never
        imagined myself being a teacher but I figured, why not? So after a year of taking a last-minute teaching
        position in Colombia, I’m continuing on to Vietnam to pursue another teaching job. Sometimes you just have to
        jump on that mysterious train and trust that it will take you somewhere incredible.
      </p>
      <p>
        So where does the hammock come in? One day, a roommate of mine told me how her and her boyfriend were able to
        set up camp in their hammock outside a hostel in Lombock, Indonesia in return for buying drinks at the bar.
        Sleeping in a hammock on an island under the stars? That sounded like the dream. Then I came up with this
        crazy idea that I would purchase a hammock and take it with me wherever I go. It would be my comfort, my mobile
        home, my friend. Who doesn’t love hammocks? Funny thing, I’d never set one up myself. I was a hammock amateur
        (and it continues to take me a good 30 minutes to set one up). Regardless, I went to REI, found my ideal hammock
        with mosquito netting, and have now slept comfortably in my hammock in hostels, on beaches and even on a ferry
        boat on the Amazon river.
      </p>
      <p>
        Come follow me on my adventures with my hammock.
      </p>
    </div>
    </div>
    <div class="column">
      <div class="ui three column row">
        <div class="column">
          <img class="image" src="../assets/Images/DSCN0030.png" height="200" width="360" onClick="$('#modal4').modal('show');"/>
          <div class="break3"></div>
        </div>
        <div class="column">
          <img class="image" src="../assets/Images/emerald.png" height="200" width="360" onClick="$('#modal5').modal('show');"/>
        </div>
        <div class="break3"></div>
        <div class="column">
          <img class="image" src="../assets/Images/IMG_8436.png" height="200" width="360" onClick="$('#modal6').modal('show');"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui grid center aligned basic modal" id="modal1">
  <img class="image1" src="../assets/Images/MG_0196.png" />
</div>
<div class="ui basic modal" id="modal2">
  <img class="image1" src="../assets/Images/costa.png" />
</div>
<div class="ui basic modal" id="modal3">
  <img class="image1" src="../assets/Images/MG_1749.png" />
</div>
<div class="ui basic modal" id="modal4">
  <img class="image1" src="../assets/Images/DSCN0030.png" />
</div>
<div class="ui basic modal" id="modal5">
  <img class="image1" src="../assets/Images/emerald.png" />
</div>
<div class="ui basic modal" id="modal6">
  <img class="image1" src="../assets/Images/IMG_8436.png" />
</div>
